

:root {
    --upa-rojo: rgb(106,0,30);
    --upa-gris-1: rgb(20, 30, 40);
    --upa-gris-2: rgb(97, 112, 136);
}


body {
    color: var(--upa-gris-2);
    font-family: 'Cabin', sans-serif;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--upa-gris-1);
}

p, ul, ol {
    font-family: 'Assistant', sans-serif;
}


.navbar-brand {
    font-weight: 700;
}




/* Animaciones de entrada para imágenes */

.slide-in {
	opacity: 0;
	transition: all .5s;
}

.align-left.slide-in {
	transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
	transform: translateX(30%) scale(0.95);
}

.align-center.slide-in {
	transform:scale(0.65);
}

.slide-in.active {
	opacity: 1;
	transform: translateX(0%) scale(1);
}



.pb-11 {
    padding-bottom: 6rem;
}
.form-group {
    margin-bottom: 1rem;
}

.border-right {
    border-right: 1px solid #f1f4f8 !important;
}

@media (min-width: 720px) {
    .mt-md-n6 {
        margin-top: -2rem;
    }
}



/* Estilos del sitio */
[class*=upa-display] {
    color: var(--upa-gris-1);
    font-weight: 400;
    letter-spacing: 0.03em;
}
[class*=upa-display] span {
    color: var(--upa-rojo);
}
.upa-display-1 {
    font-size: 8vw;
}
@media (min-width: 768px){
    .upa-display-1 {
        font-size: 3rem;  
    } 
}

[class*=upa-border] {
    border-color: #f1f4f8;
    border-style: solid;
    border-width: 1px;
    border-bottom-width: 0;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}
.upa-border-bottom {
    border-bottom-width: 1px;
}

.upa-background-grey-1 {
    background: rgb(237,237,237);
    background: linear-gradient(0deg, rgba(237,237,237,0.6) 0%, rgba(237,237,237,0.3) 100%); 
}

.upa-display-2{
    color: var(--upa-rojo);
}




/* Bloques */
.upa-servicios img {
    max-width: 50px;
}


.upa-faqs {
    background-color: rgb(100,2,20);
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 80% 100%, 20% 100%, 0 95%);
    margin-bottom: -10%;
}
@media (min-width: 768px){
    .upa-faqs {
        margin-bottom: -3rem;
    }
}
.😎 {
    color: red;
}

label.error {
    color: red;
    font-size: 0.8em;
}